body {
    background-color: aqua;
    background-image: url(unnamed.jpg);
    background-repeat: no-repeat; 
    background-size: 1920px 2400px;
}
.paragrafo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;
    color: #8f0000;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(124, 122, 0);
}
#rafaelviado {
font-size: 500px; /* Ajuste o tamanho da fonte como preferir */
background: linear-gradient(270deg, red, orange, yellow, green, blue, indigo, violet);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
animation: rainbow 3s linear infinite;
}

@keyframes rainbow {
0% { background-position: 0% 50%; }
100% { background-position: 100% 50%; }
}